<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% trans %}page.title{% endtrans %}</title>
        <meta name="keywords" content="php konferans" >
        <meta name="description" content="açıklama" >        

        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/phpistindex/img/favicon.png') }}" />
        <link rel="icon" type="image/png" href="{{ asset('bundles/phpistindex/img/favicon.png') }}">

        <!--[if lt IE 9]>
            <script type="text/javascript" src="{{ asset('bundles/phpistindex/js/external/html5shiv.js') }}"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/reset.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/header.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/top.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/content.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/button.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/footer.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/xxresponsive.css') }}" type="text/css" />

        <script type="text/javascript" src="{{ asset('bundles/phpistindex/js/external/jquery-1.8.3.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/phpistindex/js/script.js') }}"></script>
    </head>
    <body data-modules="aboutUs">
        <div id="contentAboveFooter">
            <div id="header">
                <header class="toCenter">
                    <a href="#" id="logo" class="sprite ir" title="PHP-IST">Logo</a> 
                    <nav>
                        <a href="#" class="sprite active home ir">{% trans %}nav.home{% endtrans %}</a>
                        <a href="#">{% trans %}nav.speakers{% endtrans %}</a>
                        <a href="#">{% trans %}nav.program {%endtrans %}</a>
                        <a href="#">{% trans %}nav.sponsors{% endtrans %}</a>
                        <a href="#">{% trans %}nav.venue{% endtrans %}</a>
                    </nav>
                </header>
            </div> <!-- #header -->

            {% block top %}{% endblock %}

            {% block body %}{% endblock %}

            <div id="fakeFooter"></div>
        </div> <!-- #contentAboveFooter -->

        <footer>
            <span id="mascot" class="sprite ir">Maskot</span>
            <div class="toCenter">
                <small>{% trans %}footer.info{% endtrans %}</small>

                <div id="designer">
                    {% trans with {'%link%':'<a href="#">Ethem Budak</a>'} %}footer.designer{% endtrans %}
                </div>
            </div> <!-- .toCenter -->
        </footer>
    </body>
</html>
