<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% trans %}page.title{% endtrans %}</title>
        <meta name="keywords" content="php konferans" >
        <meta name="description" content="açıklama" >        

        <!--[if lt IE 9]>
            <script type="text/javascript" src="{{ asset('bundles/phpistindex/js/external/html5shiv.js') }}"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/reset.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/header.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/top.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/content.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/button.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/footer.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/program.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/speakers.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/sponsors.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/phpistindex/css/responsive.css') }}" type="text/css" />

        <script type="text/javascript" src="{{ asset('bundles/phpistindex/js/external/jquery-1.8.3.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/phpistindex/js/external/jquery.scrollTo-1.4.3.1-min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/phpistindex/js/external/jquery.history.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/phpistindex/js/script.js') }}"></script>
    </head>
    <body data-modules="aboutUs">
        <div id="contentAboveFooter">
            <div id="header">
                <header class="toCenter">
                    <a href="#" id="logo" class="sprite ir" title="PHP-IST">Logo</a> 
                    <nav>
                        <a href="#!/" class="sprite home ir">{% trans %}nav.home{% endtrans %}</a>
                        <a href="#!/sponsors" class="sponsors">{% trans %}nav.sponsors{% endtrans %}</a>
                        <a href="#!/program" class="program">{% trans %}nav.program {%endtrans %}</a>
                        <a href="#!/speakers" class="speakers">{% trans %}nav.speakers{% endtrans %}</a>
                        <a href="#!/venue" class="venue">{% trans %}nav.venue{% endtrans %}</a>
                    </nav>
                </header>
            </div> <!-- #header -->

            {% block top %}{% endblock %}

            {% block body %}{% endblock %}

            <div id="fakeFooter"></div>
        </div> <!-- #contentAboveFooter -->

        <footer>
            <span id="mascot" class="sprite ir">Maskot</span>
            <div class="toCenter">
                <small>{% trans %}footer.info{% endtrans %}</small>

                <div id="designer">
                    {% trans with {'%link%':'<a target="_blank" href="http://www.ethembudak.com/">Ethem Budak</a>'} %}footer.designer{% endtrans %}
                </div>
            </div> <!-- .toCenter -->
        </footer>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41578800-1', 'phpist.org');
          ga('send', 'pageview');
        </script>
    </body>
</html>
