{% extends "phpistIndexBundle::layout.html.twig" %}


{% block top %}
    <div id="top">
        <div class="topLine sprite"></div>
        <div class="slide sprite">
            <div class="text toCenter">
                <div id="info">
                    <h1>{% trans %}PHP CONFERENCE{% endtrans %}</h1>
                    <h3>{% trans %}JULY 6th - YILDIZ TECHNICAL UNIVERSITY{% endtrans %}</h3>
                    <p>{% trans %}slide.main{% endtrans %}</p>
                    <p>
                    <br/>
                     <span class="contactMail">
                            <script type="text/javascript"><!--
                        {% if app.request.locale == "en" %}
                            var wtiknkz = ['r','s','r','l','r','t','i','a','i','p','<','i','g','s','a','m','"','a','.','o','t','"','i','l','=','n','h','p','@','>','l','m','=','s',' ','h','p','i','f','@','o','a','/','>','a','i','e','f','g','.','"','o','o','<','h','n',' ','o','s','p','"','t','f','c','e',':'];var pxlxsdl = [60,37,29,12,4,13,24,1,16,23,0,43,30,56,35,41,45,42,27,19,26,8,11,34,7,17,53,21,20,65,44,9,38,36,32,3,54,47,49,51,59,64,63,46,10,55,5,18,61,58,31,50,28,62,22,48,2,14,25,52,39,57,6,33,40,15];var weecvnu= new Array();for(var i=0;i<pxlxsdl.length;i++){weecvnu[pxlxsdl[i]] = wtiknkz[i]; }for(var i=0;i<weecvnu.length;i++){document.write(weecvnu[i]);}

                        {% else %}
                            var dnubwxk = ['h','r','a','s','o','p','l','i','s','o','a','i','m','<','=','>','b','a','i','@','<','r','"',' ','=',':','t','i','"','g','p','i','a','i','"',' ','l','h','l','"','e','g','f','b','c','i','h','>','s','.','p','.','r','g','i','o','p','a','s','@','t','m','/','l','g','l','t','e'];var raxjant = [3,30,1,37,14,22,50,52,58,29,36,57,9,0,39,47,48,66,49,53,64,62,32,33,7,15,59,11,46,63,54,25,10,17,40,2,18,55,35,8,5,31,6,16,34,20,23,67,26,28,56,60,4,51,44,61,24,43,38,21,13,42,65,12,19,45,27,41];var facibmn= new Array();for(var i=0;i<raxjant.length;i++){facibmn[raxjant[i]] = dnubwxk[i]; }for(var i=0;i<facibmn.length;i++){document.write(facibmn[i]);}
                        {% endif %}
                            // --></script>
                        </span>
                        <br/>
                        <span class="ircLink">
                            <a href="irc://irc.freenode.net/phpist">irc://irc.freenode.net/phpist</a>
                        </span>
                    </p>
                    <a href="http://phpist.eventbrite.com/" target="_blank" class="redButton" id="registerRedButton">{% trans %}Register Now{% endtrans %}</a>
                </div>
                <i class="sprite" id="elephant"></i>
            </div>
        </div> <!-- .slide -->
        <div class="followUs">
            {% trans %}top.followUs{% endtrans %}
            <a href="https://twitter.com/phpistorg" class="ir sprite twitter">Twitter</a> 
            <a href="https://www.facebook.com/groups/istanbul.developers/" class="ir sprite facebook">Facebook</a> 
            <a href="https://github.com/phpistorg" class="ir sprite github">Github</a> 
        </div> <!-- .followUs -->
    </div> <!-- #top -->
{% endblock %}

{% block body %}



    <div id="sponsors" class="toCenter">
        <h2 class="sprite"><span>{% trans %}Sponsors{% endtrans %}</span></h2>
        <ul>
             <li>
                <a href="http://www.tasit.com" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/tasitcom.png') }}" alt="Tasit.com"/></a>
            </li>


            <li>
                <a href="http://www.github.com" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/github.png') }}" alt="GitHub"/></a>
            </li>

            <li>
                <a href="http://www.zend.com" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/zend.gif') }}" alt="Zend - The PHP Company"/></a>
            </li>


            <li>
                <a href="http://www.opera.com" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/opera.png') }}" alt="Opera Software"/></a>
            </li>




            <li>
                <a href="http://sonsuzdongu.com" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/sonsuzdongu.png') }}" alt="Sonsuzdöngü"/></a>
            </li>


            <li>
                <a href="http://www.webrazzi.com" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/webrazzi.png') }}" alt="Webrazzi"/></a>
            </li>


            <li>
                <a href="http://www.lab2023.com/" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/lab2023.jpg') }}" alt="Lab2023"/></a>
            </li>

            <li>
                <a href="http://www.netinternet.com.tr" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/netinternet.png') }}" alt="Net Internet"/></a>
            </li>

            <li>
                
                {% if app.request.locale == "tr" %}
                <a href="{{ asset('bundles/phpistindex/data/sponsorluk.pdf') }}"><img src="{{ asset('bundles/phpistindex/img/plus.png') }}" alt="Sponsor Olun"/></a>
                {% else %}
                <a href="{{ asset('bundles/phpistindex/data/sponsorship.pdf') }}"><img src="{{ asset('bundles/phpistindex/img/plus_en.png') }}" alt="Become a sponsor"/></a>
                {% endif %}
            </li>
        </ul>


        <!--<a href="{{ asset('bundles/phpistindex/data/sponsorluk.pdf') }}" class="redButton" id="howToSponsor">{% trans %}Become a Sponsor{% endtrans %}</a>-->
    </div> <!-- #sponsors -->

    <div id="program" class="toCenter">
        <h2 class="sprite"><span>{% trans %}Schedule{% endtrans %}</span></h2>

        <ul>
            <li>
                <small>09:00 - 09:20</small>
                <h4><em>{% trans %}Opening Speech{% endtrans %}</em></h4>
                <span>Türker İnce</span>
            </li>

            <li>
                <small>09:30 - 10:15</small>
                <h4><em>{% trans %}PHP Implementations of Design Patterns{% endtrans %}</em></h4>
                <span>İbrahim Gündüz</span>
            </li>

            <li>
                <small>10:30 - 11:15</small>
                <h4><em>{% trans %}Symfony Framework{% endtrans %}</em></h4>
                <span>Osman Üngür</span>
            </li>

            <li class="dummy">
                <small>11:30 - 12:15</small>
                <h4><em>?</em></h4>
                <span></span>
            </li>

            <li class="lunch">
                <small>12:30 - 14:00</small>
                <h4><em>{% trans %}Lunch{% endtrans %}</em></h4>
            </li>

            <li>
                <small>14:00 - 14:45</small>
                <h4><em>{% trans %}PHPUnit{% endtrans %}</em></h4>
                <span>Mustafa İleri</span>
            </li>

            <li>
                <small>15:00 - 15:45</small>
                <h4><em>{% trans %}PHP Success Stories{% endtrans %}</em></h4>
                <span>Hüseyin Mert</span>
            </li>

            <li class="dummy">
                <small>16:00 - 16:45</small>
                <h4><em>?</em></h4>
                <span></span>
            </li>

            <li class="goygoy">
                <small>17:00 - 18:00</small>
                <h4><em>{% trans %}Tech Talk{% endtrans %}</em></h4>
            </li>
        </ul>

    </div> <!-- #program -->


    <div id="speakers" class="toCenter">
        <h2 class="sprite"><span>{% trans %}Speakers{% endtrans %}</span></h2>

        <ul>
            <li>
                <figure>
                    <img src="{{ asset('bundles/phpistindex/img/speakers/turker_ince.jpg') }}" alt="Türker İnce"/>
                    <div class="socialContainer">
                        <a class="ir sprite github" href="https://github.com/turkerince" target="_blank">Github</a>
                        <a class="ir sprite twitter" href="https://twitter.com/turkerince" target="_blank">Twitter</a>
                        <a class="ir sprite web" href="https://www.facebook.com/trkrnc" target="_blank">Web</a>
                    </div>
                </figure>
                <em>Limango</em>
                <strong>Türker İnce</strong>
            </li>


            <li>
                <figure>
                    <img src="{{ asset('bundles/phpistindex/img/speakers/ibrahim_gunduz.jpg') }}" alt="İbrahim Gündüz"/>
                    <div class="socialContainer">
                        <a class="ir sprite github" href="https://github.com/ibrahimgunduz34" target="_blank">Github</a>
                        <a class="ir sprite twitter" href="https://twitter.com/ibrahimgunduz34" target="_blank">Twitter</a>
                        <a class="ir sprite web" href="http://ibrahimgunduz.net/" target="_blank">Web</a>
                    </div>
                </figure>
                <em>Markafoni</em>
                <strong>İbrahim Gündüz</strong>
            </li>

            <li>
                <figure>
                    <img src="{{ asset('bundles/phpistindex/img/speakers/osman_ungur.jpg') }}" alt="Osman Üngür"/>
                    <div class="socialContainer">
                        <a class="ir sprite github" href="https://github.com/import" target="_blank">Github</a>
                        <a class="ir sprite twitter" href="https://twitter.com/osmanung" target="_blank">Twitter</a>
                        <a class="ir sprite web" href="http://osman.ungur.org/" target="_blank">Web</a>
                    </div>
                </figure>
                <em>Limango</em>
                <strong>Osman Üngür</strong>
            </li>

            <li>
                <figure>
                    <img src="{{ asset('bundles/phpistindex/img/speakers/mustafa_ileri.jpg') }}" alt="Mustafa İleri"/>
                    <div class="socialContainer">
                        <a class="ir sprite github" href="https://github.com/mustafaileri" target="_blank">Github</a>
                        <a class="ir sprite twitter" href="https://twitter.com/mustafaileri" target="_blank">Twitter</a>
                        <a class="ir sprite web" href="http://sonsuzdongu.com/blog" target="_blank">Web</a>
                    </div>
                </figure>
                <em>Sonsuzdöngü</em>
                <strong>Mustafa İleri</strong>
            </li>

            <li>
                <figure>
                    <img src="{{ asset('bundles/phpistindex/img/speakers/huseyin_mert.png') }}" alt="Hüseyin Mert"/>
                    <div class="socialContainer">
                        <a class="ir sprite github" href="https://github.com/hmert" target="_blank">Github</a>
                        <a class="ir sprite twitter" href="https://twitter.com/hmert" target="_blank">Twitter</a>
                        <a class="ir sprite web" href="http://hmert.com/" target="_blank">Web</a>
                    </div>
                </figure>
                <em>Eğitim Bilişim Ağı</em>
                <strong>Hüseyin Mert</strong>
            </li>
        </ul>
    </div> <!-- #speakers -->

    <div id="venue" class="toCenter">
        <h2 class="sprite"><span>{% trans %}Venue{% endtrans %}</span></h2>

        <div id="map">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=tr&amp;geocode=CbqPpxNIpaL7FXZgcgIdfae6ASmNmXPorbfKFDEWsW2v-2srFw&amp;q=Yt%C3%BC,+%C4%B0stanbul,+T%C3%BCrkiye&amp;aq=0&amp;oq=yt%C3%BC&amp;sll=41.050717,29.010298&amp;sspn=0.008868,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=Y%C4%B1ld%C4%B1z+Mh.,+Yt%C3%BC,+Be%C5%9Fikta%C5%9F,+T%C3%BCrkiye&amp;t=m&amp;ll=41.071846,29.007683&amp;spn=0.090589,0.329933&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe>
        </div>

        {% if app.request.locale == "tr" %}
        <div id="busaccess">
            <h2 class="sprite"><span>Ulaşım Yolları</span></h2> 
	        <ul>
                <li>
                    <p><strong>Kadıköy'den gelecek katılımcılar;</strong><br />
Kadıköy - Beşiktaş vapur iskelesinden kalkan vapur sizi beşiktaş sahile getirecektir. İndiğiniz zaman, yürümek istemezseniz (1 durak ~6 dakika mesafe) otobüs duraklarından Zincirlikuyu'ya giden her otobüs ile tam üniversitenin önünde inebilirsiniz.</p><br />
                </li>
                <li>
                    <p><strong>Mecidiyeköy'den gelecek katılımcılar;</strong><br />
30M hatlı otobüs ile kampüse ulaşım gerçekleştirebilirsiniz.</p><br />
                </li>
                <li>
                    <p><strong>Esenler/Otogar'dan gelecek katılımcılar;</strong><br/>
                    <strong>1.</strong> Havalimanı - Aksaray metrosu ile aksaray, T1 Kabataş-Bağcılar tramway hattına yusufpaşa durağı (~5 dakika yürüme mesafesi) veya Aksaray durağı (~10 dakika yürüme mesafesi) kullanarak erişebilirsiniz. Kabataş'ta inerek Zincirlikuyu yönüne giden otobüslere binebilirsiniz.
                    <br/><br />
                    <strong>2.</strong> Havalimanı - Aksaray metrosunu kullanarak Zentinburnu durağında Avcılar - Zincirlikuyu metrobüs hattına aktarma yapabilirsiniz. Zincirlikuyu'da indikten sonra beşiktaş ve kabataş yönüne giden her otobüs kampüsün önünden geçmektedir.
                    </p><br />
                </li>
                <li>
                    <p><strong>Pendik'ten gelecek katılımcılar;</strong><br/>
                    Pendik - Haydarpaşa banliyosu ile Söğütlüçeşme - Zincirlikuyu metrobüs hattına aktarma yapabilirsiniz. Zincirlikuyu'da indikten sonra beşiktaş ve kabataş yönüne giden her otobüs kampüsün önünden geçmektedir.</p>
                    <br/>
                </li>
                <li>
                    <p><strong>Kartal'dan gelecek katılımcılar;</strong><br/>
                    <strong>1.</strong> Pendik - Haydarpaşa banliyosu ile Söğütlüçeşme - Zincirlikuyu metrobüs hattına aktarma yapabilirsiniz. Zincirlikuyu'da indikten sonra beşiktaş ve kabataş yönüne giden her otobüs kampüsün önünden geçmektedir.
                    <br/><br/>
                    <strong>2.</strong> Kadıköy - Kartal metrosunu kullanarak Kadıköy - Beşiktaş vapur iskelesine ulaşabilirsiniz. Vapur ile beşiktaş sahiline geçtikten sonra; yürümek istemezseniz (1 durak ~6 dakika mesafe) otobüs duraklarından zincirlikuyuna giden her otobüs ile tam üniversitenin önünde inebilirsiniz.</p>
                    <br/>
                </li>
                <li>
                    <p><strong>Yenibosna'dan gelecekler için;</strong><br/>
                    Metrobüs ile Zincirlikuyu'da indikten sonra beşiktaş ve kabataş yönüne giden her otobüs kampüsün önünden geçmektedir.</p>
                    <br/>
                </li>
                <li>
                    <p><strong>Fatih / Edirnekapı'dan gelecekler için;</strong><br/>
                    28 hatlı otobüs ile Beşiktaş sahile ulaşım gerçekleştirebilirsiniz. Yürümek istemezseniz (1 durak ~6 dakika mesafe) otobüs duraklarından zincirlikuyuna giden her otobüs ile tam üniversitenin önünde inebilirsiniz.
                    </p>
                    <br />
                </li>
                <li>
                    <p><strong>Üsküdar'dan gelecekler için;</strong><br/>
                    Üsküdar Beşiktaş motor iskelesinden beşiktaş sahile geçtikten sonra yürümek istemezseniz (1 durak ~6 dakika mesafe) otobüs duraklarından zincirlikuyuna giden her otobüs ile tam üniversitenin önünde inebilirsiniz.</p>
                    <br/>
                </li>
            </ul>
        </diV>
        {% endif %}

    <div id="supporters">
        <h2 class="sprite"><span>{% trans %}Supporters{% endtrans %}</span></h2>
        <ul>
            <li>
               <a href="http://bmo.org.tr" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/bmo.png') }}" alt="Bilgisyar Mühendisleri Odası"/></a>
            </li>
            <li>
                <a href="http://www.panilux.com/" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/panilux.png') }}" alt="Panilux Server Management Panel"/></a>
            </li>


            <li>
                <a href="http://www.indir.com/" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/indir.png') }}" alt="indir.com"/></a>
            </li>

            <li>
                <a href="http://www.rgbilisim.com/" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/rg.png') }}" alt="RG Bilişim"/></a>
            </li>

            <li>
                <a href="http://www.webmagazin.co/" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/webmagazin.png') }}" alt="WebMagazin"/></a>
            </li>


            <li>
                <a href="http://www.valven.com/" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/valven.png') }}" alt="Valven"/></a>
            </li>

            <li>
                <a href="http://www.pgd.org.tr/" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/pgd.png') }}" alt="PHP Geliştiricileri Derneği"/></a>
            </li>

            <li>
                <a href="http://www.jstanbul.org/" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/jstanbul.png') }}" alt="jstanbul"/></a>
            </li>


        </ul>
    </div>






    </div> <!-- #contact -->
{% endblock %}
