{% extends "phpistIndexBundle::layout.html.twig" %}


{% block top %}
    <div id="top">
        <div class="topLine sprite"></div>
        <div class="slide sprite">
            <div class="text toCenter">
                <div id="info">
                    <h1>{% trans %}PHP CONFERENCE{% endtrans %}</h1>
                    <h3>{% trans %}JULY 6th - YILDIZ TECHNICAL UNIVERSITY{% endtrans %}</h3>
                    <p>{% trans %}slide.main{% endtrans %}</p>
                    <a href="http://phpist.eventbrite.com/" target="_blank" class="redButton" id="registerRedButton">{% trans %}Register Now{% endtrans %}</a>
                </div>
                <i class="sprite" id="elephant"></i>
            </div>
        </div> <!-- .slide -->
        <div class="followUs">
            {% trans %}top.followUs{% endtrans %}
            <a href="https://twitter.com/phpistorg" class="ir sprite twitter">Twitter</a> 
            <a href="https://www.facebook.com/groups/istanbul.developers/" class="ir sprite facebook">Facebook</a> 
            <a href="https://github.com/phpistorg" class="ir sprite github">Github</a> 
        </div> <!-- .followUs -->
    </div> <!-- #top -->
{% endblock %}

{% block body %}

    <div id="sponsors" class="toCenter">
        <h2 class="sprite"><span>{% trans %}Sponsors{% endtrans %}</span></h2>
        <ul>
            <li>
               <a href="http://bmo.org.tr" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/bmo.jpg') }}" alt="Bilgisyar Mühendisleri Odası"/></a>
            </li>
            <li>
                <a href="http://sonsuzdongu.com" target="_blank"><img src="{{ asset('bundles/phpistindex/img/sponsors/sonsuzdongu.png') }}" alt="Sonsuzdöngü"/></a>
            </li>
            <li>
                <a href="{{ asset('bundles/phpistindex/data/sponsorluk.pdf') }}"><img src="{{ asset('bundles/phpistindex/img/plus.png') }}" alt="Sponsor Olun"/></a>
            </li>
        </ul>
        <!--<a href="{{ asset('bundles/phpistindex/data/sponsorluk.pdf') }}" class="redButton" id="howToSponsor">{% trans %}Become a Sponsor{% endtrans %}</a>-->
    </div> <!-- #sponsors -->

    <div id="program" class="toCenter">
        <h2 class="sprite"><span>{% trans %}Schedule{% endtrans %}</span></h2>

        <ul>
            <li>
                <small>09:00 - 09:20</small>
                <h4><em>{% trans %}Opening Speech{% endtrans %}</em></h4>
                <span>Türker İnce</span>
            </li>

            <li>
                <small>09:30 - 10:15</small>
                <h4><em>{% trans %}PHP Implementations of Design Patterns{% endtrans %}</em></h4>
                <span>İbrahim Gündüz</span>
            </li>

            <li>
                <small>10:30 - 11:15</small>
                <h4><em>{% trans %}Symfony Framework{% endtrans %}</em></h4>
                <span>Osman Üngür</span>
            </li>

            <li class="dummy">
                <small>11:30 - 12:15</small>
                <h4><em>?</em></h4>
                <span></span>
            </li>

            <li class="lunch">
                <small>12:30 - 14:00</small>
                <h4><em>{% trans %}Lunch{% endtrans %}</em></h4>
            </li>

            <li>
                <small>14:00 - 14:45</small>
                <h4><em>{% trans %}PHPUnit{% endtrans %}</em></h4>
                <span>Mustafa İleri</span>
            </li>

            <li>
                <small>15:00 - 15:45</small>
                <h4><em>{% trans %}PHP Success Stories{% endtrans %}</em></h4>
                <span>Hüseyin Mert</span>
            </li>

            <li class="dummy">
                <small>16:00 - 16:45</small>
                <h4><em>?</em></h4>
                <span></span>
            </li>

            <li class="goygoy">
                <small>17:00 - 18:00</small>
                <h4><em>{% trans %}Tech Talk{% endtrans %}</em></h4>
            </li>
        </ul>

    </div> <!-- #program -->


    <div id="speakers" class="toCenter">
        <h2 class="sprite"><span>{% trans %}Speakers{% endtrans %}</span></h2>

        <ul>
            <li>
                <figure>
                    <img src="{{ asset('bundles/phpistindex/img/speakers/turker_ince.jpg') }}" alt="Türker İnce"/>
                    <div class="socialContainer">
                        <a class="ir sprite github" href="https://github.com/turkerince" target="_blank">Github</a>
                        <a class="ir sprite twitter" href="https://twitter.com/turkerince" target="_blank">Twitter</a>
                        <a class="ir sprite web" href="https://www.facebook.com/trkrnc" target="_blank">Web</a>
                    <div>
                </figure>
                <em>Limango</em>
                <strong>Türker İnce</strong>
            </li>


            <li>
                <figure>
                    <img src="{{ asset('bundles/phpistindex/img/speakers/ibrahim_gunduz.jpg') }}" alt="İbrahim Gündüz"/>
                    <div class="socialContainer">
                        <a class="ir sprite github" href="https://github.com/ibrahimgunduz34" target="_blank">Github</a>
                        <a class="ir sprite twitter" href="https://twitter.com/ibrahimgunduz34" target="_blank">Twitter</a>
                        <a class="ir sprite web" href="http://ibrahimgunduz.net/" target="_blank">Web</a>
                    <div>
                </figure>
                <em>Markafoni</em>
                <strong>İbrahim Gündüz</strong>
            </li>



            <li>
                <figure>
                    <img src="{{ asset('bundles/phpistindex/img/speakers/osman_ungur.jpg') }}" alt="Osman Üngür"/>
                    <div class="socialContainer">
                        <a class="ir sprite github" href="https://github.com/import" target="_blank">Github</a>
                        <a class="ir sprite twitter" href="https://twitter.com/osmanungur" target="_blank">Twitter</a>
                        <a class="ir sprite web" href="http://osman.ungur.org/" target="_blank">Web</a>
                    <div>
                </figure>
                <em>Limango</em>
                <strong>Osman Üngür</strong>
            </li>


            <li>
                <figure>
                    <img src="{{ asset('bundles/phpistindex/img/speakers/mustafa_ileri.jpg') }}" alt="Mustafa İleri"/>
                    <div class="socialContainer">
                        <a class="ir sprite github" href="https://github.com/mustafaileri" target="_blank">Github</a>
                        <a class="ir sprite twitter" href="https://twitter.com/mustafaileri" target="_blank">Twitter</a>
                        <a class="ir sprite web" href="http://sonsuzdongu.com/blog" target="_blank">Web</a>
                    <div>
                </figure>
                <em>Sonsuzdöngü</em>
                <strong>Mustafa İleri</strong>
            </li>



            <li>
                <figure>
                    <img src="{{ asset('bundles/phpistindex/img/speakers/huseyin_mert.png') }}" alt="Hüseyin Mert"/>
                    <div class="socialContainer">
                        <a class="ir sprite github" href="https://github.com/hmert" target="_blank">Github</a>
                        <a class="ir sprite twitter" href="https://twitter.com/hmert" target="_blank">Twitter</a>
                        <a class="ir sprite web" href="http://hmert.com/" target="_blank">Web</a>
                    <div>
                </figure>
                <em>Eğitim Bilişim Ağı</em>
                <strong>Hüseyin Mert</strong>
            </li>
        </ul>
    </div> <!-- #speakers -->

    <div id="contact" class="toCenter">
        <h2 class="sprite"><span>{% trans %}Venue{% endtrans %}</span></h2>

        <div id="map">
            <iframe width="960" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=tr&amp;geocode=CbqPpxNIpaL7FXZgcgIdfae6ASmNmXPorbfKFDEWsW2v-2srFw&amp;q=Yt%C3%BC,+%C4%B0stanbul,+T%C3%BCrkiye&amp;aq=0&amp;oq=yt%C3%BC&amp;sll=41.050717,29.010298&amp;sspn=0.008868,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=Y%C4%B1ld%C4%B1z+Mh.,+Yt%C3%BC,+Be%C5%9Fikta%C5%9F,+T%C3%BCrkiye&amp;t=m&amp;ll=41.071846,29.007683&amp;spn=0.090589,0.329933&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe>
            <small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=tr&amp;geocode=CbqPpxNIpaL7FXZgcgIdfae6ASmNmXPorbfKFDEWsW2v-2srFw&amp;q=Yt%C3%BC,+%C4%B0stanbul,+T%C3%BCrkiye&amp;aq=0&amp;oq=yt%C3%BC&amp;sll=41.050717,29.010298&amp;sspn=0.008868,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=Y%C4%B1ld%C4%B1z+Mh.,+Yt%C3%BC,+Be%C5%9Fikta%C5%9F,+T%C3%BCrkiye&amp;t=m&amp;ll=41.071846,29.007683&amp;spn=0.090589,0.329933&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left">Daha Büyük Görüntüle</a></small>
        </div>

    </div> <!-- #contact -->
{% endblock %}
